/* src/TopicsPage.css */

.topics-container {
  background: linear-gradient(135deg, #1e1e1e, #121212);;
  color: #e0e0e0;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background-color: #1e1e1e;
}

.card-title {
  color: #f0f0f0;
}

.card-text {
  color: #b0b0b0;
}

.btn-primary {
  background-color: #00bcd4;
  border-color: #00bcd4;
}

.btn-primary:hover {
  background-color: #0097a7;
  border-color: #0097a7;
}

.modal-body img {
  max-width: 100%;
  height: auto;
}
